.wrapper {
  width: 300px;
  background-color: lightgrey;
  cursor: pointer;
  margin-right: 10px;
}
.wrapper:hover {
  background-color: grey;
}

.image {
  width: 100%;
  position: relative;
  /* height: 60px; */
}
img {
  height: 250px;
  width: 100%;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 5px;
}

.text {
  text-align: center;
}
